header{
    display: flex;
    justify-content: space-between;
    min-height: 80px;
    background-color: rgb(0, 163, 155);
    align-items: center;
    padding: 20px 20px;
    
    }
    body{
    font-family:sans-serif;
    margin: 0;
    
    }
    .logo{
        display: flex;
        align-items: center;
    }
    .logo img{
        height: 80px;
        align-items: center;
        margin-right: 10px;
    }
    a{
        text-decoration: none;
        color: black;
    
    }
    nav a{
        font-weight: 600;
        padding-right: 50px;
    }
    nav a:hover{
    color: white;
    }

/**contenedor e items*/

.Contenedor{
    height: 1000px;
    display: flex;
    background-color: rgb(5, 124, 118);
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 20px;
  
}
article{
    box-shadow: 10px 0px 10px rgb(100, 100, 100);
}
.item{
    border: solid rgb(126, 126, 126);
    background-color: rgb(15, 223, 212);
    flex-grow: 1;
    margin: 20px;
   width: 300px;
   height: 450px;
}

.item img{
    width: 280px;
    height: 150px;
    border: solid black 1px;
    box-shadow: 10px 0px 10px rgb(100, 100, 100);
    
}
p {
    font-size: 14px; /* Tamaño de fuente en píxeles */
    font-weight: bold;
  }


h2{
    font-size: 30px;
}
.atracciones{
    display: flex;
    height: 100px;
    background-color: rgb(100, 100, 100);

}
.rating {
    display: inline-block;
    direction: rtl; /* Invertir para que las estrellas estén en orden correcto */
  }
  
  .rating input {
    display: none; /* Ocultar los inputs de radio */
  }
  
  .rating label {
    font-size: 30px;
    padding: 5px;
    cursor: pointer;
  }
  
  .rating label:before {
    content: '\2605'; /* Código Unicode de la estrella vacía */
  }
  
  .rating input:checked ~ label:before {
    content: '\2605'; /* Código Unicode de la estrella rellena */
    color: yellow;
  }

  .ratings {
    display: inline-block;
    direction: rtl; /* Invertir para que las estrellas estén en orden correcto */
  }
  
  .ratings input {
    display: none; /* Ocultar los inputs de radio */
  }
  
  .ratings label {
    font-size: 30px;
    padding: 5px;
    cursor: pointer;
  }
  
  .ratings label:before {
    content: '\2605'; /* Código Unicode de la estrella vacía */
  }
  
  .ratings input:checked ~ label:before {
    content: '\2605'; /* Código Unicode de la estrella rellena */
    color: yellow;
  }

  .ratingz {
    display: inline-block;
    direction: rtl; /* Invertir para que las estrellas estén en orden correcto */
  }
  
  .ratingz input {
    display: none; /* Ocultar los inputs de radio */
  }
  
  .ratingz label {
    font-size: 30px;
    padding: 5px;
    cursor: pointer;
  }
  
  .ratingz label:before {
    content: '\2605'; /* Código Unicode de la estrella vacía */
  }
  
  .ratingz input:checked ~ label:before {
    content: '\2605'; /* Código Unicode de la estrella rellena */
    color: yellow;
  }

  .ratingss {
    display: inline-block;
    direction: rtl; /* Invertir para que las estrellas estén en orden correcto */
  }
  
  .ratingss input {
    display: none; /* Ocultar los inputs de radio */
  }
  
  .ratingss label {
    font-size: 30px;
    padding: 5px;
    cursor: pointer;
  }
  
  .ratingss label:before {
    content: '\2605'; /* Código Unicode de la estrella vacía */
  }
  
  .ratingss input:checked ~ label:before {
    content: '\2605'; /* Código Unicode de la estrella rellena */
    color: yellow;
  }

  .ratingq {
    display: inline-block;
    direction: rtl; /* Invertir para que las estrellas estén en orden correcto */
  }
  
  .ratingq input {
    display: none; /* Ocultar los inputs de radio */
  }
  
  .ratingq label {
    font-size: 30px;
    padding: 5px;
    cursor: pointer;
  }
  
  .ratingq label:before {
    content: '\2605'; /* Código Unicode de la estrella vacía */
  }
  
  .ratingq input:checked ~ label:before {
    content: '\2605'; /* Código Unicode de la estrella rellena */
    color: yellow;
  }

  .ratingw {
    display: inline-block;
    direction: rtl; /* Invertir para que las estrellas estén en orden correcto */
  }
  
  .ratingw input {
    display: none; /* Ocultar los inputs de radio */
  }
  
  .ratingw label {
    font-size: 30px;
    padding: 5px;
    cursor: pointer;
  }
  
  .ratingw label:before {
    content: '\2605'; /* Código Unicode de la estrella vacía */
  }
  
  .ratingw input:checked ~ label:before {
    content: '\2605'; /* Código Unicode de la estrella rellena */
    color: yellow;
  }

  .ratinge {
    display: inline-block;
    direction: rtl; /* Invertir para que las estrellas estén en orden correcto */
  }
  
  .ratinge input {
    display: none; /* Ocultar los inputs de radio */
  }
  
  .ratinge label {
    font-size: 30px;
    padding: 5px;
    cursor: pointer;
  }
  
  .ratinge label:before {
    content: '\2605'; /* Código Unicode de la estrella vacía */
  }
  
  .ratinge input:checked ~ label:before {
    content: '\2605'; /* Código Unicode de la estrella rellena */
    color: yellow;
  }

  .ratingr {
    display: inline-block;
    direction: rtl; /* Invertir para que las estrellas estén en orden correcto */
  }
  
  .ratingr input {
    display: none; /* Ocultar los inputs de radio */
  }
  
  .ratingr label {
    font-size: 30px;
    padding: 5px;
    cursor: pointer;
  }
  
  .ratingr label:before {
    content: '\2605'; /* Código Unicode de la estrella vacía */
  }
  
  .ratingr input:checked ~ label:before {
    content: '\2605'; /* Código Unicode de la estrella rellena */
    color: yellow;
  }





















