header{
    display: flex;
    justify-content: space-between;
    min-height: 80px;
    background-color: rgb(0, 163, 155);
    align-items: center;
    padding: 20px 20px;
    
    }
    body{
    font-family:sans-serif;
    margin: 0;
    
    }
    .logo{
        display: flex;
        align-items: center;
    }
    .logo img{
        height: 80px;
        align-items: center;
        margin-right: 10px;
    }
    a{
        text-decoration: none;
        color: black;
    
    }
    nav a{
        font-weight: 600;
        padding-right: 50px;
    }
    nav a:hover{
    color: white;
    }

body{
    background-image: url("../img/cerro.jpg");

}

.cerro img{
    width: 50px;
}

.cerro{
    color: rgb(255, 0, 0);
}
h2{
    font-size: 50px;
}
p{ width: 800px;
    height: 500px;
    color: black;
    background-color: rgba(255, 255, 252, 0.452);
    font-weight: bold;
    font-size: 20px; 
}
h1{ font-size: 50px;
    color: white;
}
